.tmp
*.iml
.gradle
.gradle/*
.idea/*.iml
build
src/gen
docs/*
lib
out/*
.idea/uiDesigner.xml
.idea/gradle.xml
.idea/compiler.xml
.idea/misc.xml
.idea/vcs.xml
.idea/modules.xml
.idea/inspectionProfiles
.idea/copyright
*.log
.idea/libraries
*.bat